/*Colocar no Repositorio */
.logo-user {
  height: 32px;
  width: 36px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.dropbtn {
  background-color: white;;
  color: white;
  padding: 1px;
  font-size: 1px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;;
}

@media (min-width: 100px) and (max-width: 350px) {
  .logo-user {
    height: 65px;
    width: 65px;
  }
}
@media (min-width: 360px) and (max-width: 899px) {
  .logo-user {
    height: 100px;
    width: 100px;
  }
}


